@using Orchard.Utility.Extensions;

@using (Html.BeginFormAntiForgeryPost())
{
    <span class="hint">@T("Log in as any user in the system here. Note that once you log in as another user your current user session will be lost.")</span>

    <ol>
        <li>
            @Html.Label("userName", T("Username").Text)
            @Html.TextBox("userName")
        </li>
    </ol>

    <button type="submit" class="button">@T("Log in")</button>
}