@using OrchardCore.Modules
@using OrchardCore.Users.Models
@using OrchardCore.Users.ViewModels
@using static Lombiq.LoginAsAnybody.Constants.FeatureIds

@model SummaryAdminUserViewModel

@{
    var user = Model.User as User;
}

<a asp-area="@LoginAsAnybody" asp-controller="UserSwitcher" asp-action="SwitchUser" asp-route-id="@user.UserId"
    class="btn btn-success btn-sm">@T["Log in as user"]</a>
