@using OrchardCore.Modules
@using OrchardCore.Users.Models
@using OrchardCore.Users.ViewModels
@using static Lombiq.LoginAsAnybody.Constants.FeatureIds

@model SummaryAdminUserViewModel

@{
    var user = Model.User as User;
}

<form method="post" class="d-inline-block" class="no-multisubmit">
    <input type="hidden" name="id" value="@user.UserId">
    <button asp-area="@LoginAsAnybody" asp-controller="UserSwitcher" asp-action="SwitchUser" class="btn btn-success btn-sm">
        @T["Log in as user"]
    </button>
</form>
